# Web server
fastapi
uvicorn

# HTTP client
httpx

# PDF processing
PyMuPDF
pdfplumber

# AI and Machine Learning
openai
tiktoken
faiss-cpu
numpy
scikit-learn
pinecone
pydantic

# Environment variables
python-dotenv


#database
pymongo

